*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 
 

.navbar{
  padding: 30px;
  
}


main{
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap:30px;
  padding: 30px;
}

.heading{
  height: 300px;
  border:1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(0, 85, 255);
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  justify-content: space-between;
}

.card{
  width: 300px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  justify-content: space-between;
}
.img{
  width: 290px;
  align-self: center;
  height:200px
}
img{
  width:280px;
  height:200px;
  border-radius: 10px;
}
.link{
  background-color: rgb(0, 85, 255);
  text-decoration: none;
  color:white;
  border-radius: 18px;
  text-align: center;
  padding: 10px;
}

.link:hover{
  padding: 15px;
}
 

footer{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap:10px;
  background-color: #212529;

   
}
footer a{
  text-decoration: none;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap:10px;   
}
footer ul a, .footer-brand{
  color:white;
 
}
.content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.content ul{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.content ul li{
  list-style:decimal;

}
.content ul a{
  text-underline-offset: 3px;

}
.content ol li{
  list-style: decimal;
  line-height: 30px;
 
}
h1{
  font-size: 25px;
  margin-bottom: 15px;
  color:rgb(8, 172, 8);
  line-height: 35px;
}
h2{
  font-size: 23px;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  margin-bottom: 15px;
}
.next-prev{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.next-prev a{
  text-decoration: none;
  background-color: rgb(0, 85, 255);
  color:white;
  padding: 10px;
  border-radius: 18px;
}
pre{
  border-radius: 18px;
  width:78%;
  overflow-x: auto;
}
#content-img{
 
  height: 300px;
  padding: 9px;
  width: 500px;
}
@media screen and (max-width:1000px) {
  
  .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img img{
    width: 280px;
    height: 150px;
    
  }
  #content-img{
    height: 250px;
    padding: 9px;
    width: 300px;
  }
  .navbar-nav {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content{
    width: 100%;
    padding: 10px;
  }
  .cards{
    justify-content: center;
    align-items: center;
  }

  .navbar-nav li {
    display: inline-block;
  }
  footer{
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  pre{
    width:100%
  };
}